@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    margin: 0px;
    background-color: #fdf7e4;
}
main{
    margin-left: 20px;
    margin-right: 20px;


}
h1{
    text-align: center;
}

.navbar ul{
    list-style-type: none;
    background-color: #ebd9b4;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: #638889;
    text-decoration:none;
    padding: 15px;
    display:block;
    text-align: center;
}

.navbar a:hover{
    background-color: #9dbc98;
}
.navbar li{
    float:left;
}