@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Play:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    margin: 0px;
    background-color: #fdf7e4;
}
main{
    margin-left: 20px;
    margin-right: 20px;


}
h1{
    text-align: center;
    font-family: "Play", sans-serif;
    color:#638889
}
p{
    font-family: "Play", sans-serif;
    color:#638889
}
.navbar{
    position: sticky;
}
.navbar ul{
    list-style-type: none;
    background-color: #ebd9b4;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: #638889;
    text-decoration:none;
    padding: 15px;
    display:block;
    text-align: center;
}

.navbar a:hover{
    background-color: #9dbc98;
}
.navbar li{
    float:left;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
  input[type=text]:focus {
    border: 3px solid #638889;
  }

  input[type=button], input[type=submit], input[type=reset] {
    background-color: #9dbc98;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    width: 100px;
    height: 30px;
  }